@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: larger;
    padding: 1rem 20rem 1rem 20rem;
  }

